apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template.jobname }}
  labels:
    app: {{ template.jobname }}
spec:
  replicas: {{ template.jobreplicas }}
  selector:
    matchLabels:
      app: {{ template.jobname }}
  template:
    metadata:
      labels:
        app: {{ template.jobname }}
    spec:
      containers:
      - name: {{ template.jobname }}-pod
        image: {{ template.jobimage.registryaddress }}/{{ template.jobimage.imagename }}:{{ template.jobimage.imagetag }}